/*color  #fb9300be
  color header #101C28
*/

body{
  background-color: #FFDFC1;
}

/* Menu */
.menu_logo {
  margin: auto 0;
}
.menu-logo a {
    text-align: center;
}

#aktual {
  background-color: #fb9300ff;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
  padding: 5px 20px 3px 20px;
}
.aktual p {
  margin-bottom: 0;
}
.bg-light{
  background-color: #101C28 !important;
}

.nav-link {
  color: rgba(255, 255, 255, 0.9) !important;
  font-family: 'Sarabun', sans-serif;
}

.navbar-nav a:hover {
  font-weight: 700;
}

.navbar-nav{
    text-align: right;
}

.navbar-brand{
  font-family: 'Overlock', cursive;
  font-size: 1.75rem;
}
#about_us .h1 {
font-family: 'Sarabun', sans-serif;
font-size: 2.6rem;
font-weight: bold;
border-bottom: 5px solid #fb9300ff;
padding-bottom: 1%;
}

#about_us .container {
  padding-left: 0;
  padding-right: 0;
}

.about_us_text p {
  margin-top: 5%;
  margin-bottom: 5%;
  word-spacing: 0.1rem;
  line-height: 1.6em;
  text-align: justify;
}

.about_us_image {
  border-radius: 5px;
  margin-top: 10%;

}

.row_margin {
  margin: 10% 0;
}

/* about us */
.marketing .col-lg-6 {
    margin-bottom: 1.5rem;
    text-align: center;
    }

/* our products */

#products .underline {
font-family: 'Sarabun', sans-serif;
font-size: 2.6rem;
font-weight: bold;
border-bottom: 5px solid #fb9300ff;
width: 416px;
margin: 0 auto;
}

.products {
  margin-top: 5%;
}

/* OFFER */

#offer p {
  text-align: justify;
}

/* BUTTON */

.btn-primary {
  background-color: #222F3F;
  border-color: #222F3F;
}

.btn-primary:hover {
  background-color: #101C28;
  border-color: #101C28;
}

/* Footer     */
.footer {
  background-color: #fb9300ff;
  color: white;
  font-weight: 500;
  line-height: 40px;
  padding: 3rem;
}
.footer a {
  color: white;
}
.footer .fas {
  font-size: 2rem;
}

.footer p {
  margin-bottom: .2rem;
}

/* MODAL */

.modal-content {
  background-color: #fb9300be;
  color: white;
}
.modal-header .modal-title {
  color: white;
  margin: 0 auto;
  font-weight: bold;
}
