
/* Menu */
.menu_logo {
  margin: 0 auto;
  position: absolute;
  right: 45%;
  top: 8%;
  z-index: 1;
  width: 11%;
  height: auto;
}
#aktual {
  background-color: #fb9300ff;
  color: rgba(255, 255, 255, 0.9);
  font-family: 'Sarabun', sans-serif;
  font-weight: 700;
  padding: 5px 0 3px 0;
}
.aktual p {
  margin-bottom: 0;
}
.bg-light{
  background-color: #fb9300be !important;
}

.nav-link {
  color: rgba(255, 255, 255, 0.9) !important;
  font-family: 'Sarabun', sans-serif;

}
.navbar-nav a:hover {
  font-weight: 700;
}
.navbar-nav{
    text-align: right;
}
.navbar-brand{
  font-family: 'Overlock', cursive;
  font-size: 1.75rem;
}

/* about us */

.about_us {
  background-image: url("../images/bee_background.jpeg");
  background-size: cover;
  background-position: center;
  color: black;
  height: 500px;
  font-size: 1.1rem;
  font-weight: 600;
}
.about_us_inner {
background-color: rgba(255, 255, 255, 0.8);
padding: 40px 60px;
}
.about_us h3 {

}

.marketing .col-lg-6 {
    margin-bottom: 1.5rem;
    text-align: center;
    }

/* Footer     */
.footer {
  background-color: #fb9300ff;
  color: white;
  font-weight: 500;
  line-height: 40px;
  padding: 3rem;
}
.footer a {
  color: white;
}
.footer .fas {
  font-size: 2rem;
}

.footer p {
  margin-bottom: .2rem;
}
